*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;  
   /* background-color: beige; */
}

a {
    color: inherit;
}
a:hover {
    color: red;
}
#mobile_nav{
    transition: 0.3s ease-in-out;
}
.responsive_nav {
    transform: translateY(-400px);
    transition: 0.3s ease-in-out;
}